* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

html {
    font-size: 16px;
}

header.top {
    background: rgb(0, 0, 0);
}
header.top h1 {
    line-height: 6.25rem;
    color: white;
    padding-left: 30px;
}

header.task h2 {
    text-align: center;
    line-height: 6.25rem;
}

ul.list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

ul.list li {
    box-sizing: border-box;
    width: 25%;
    height: 3.125rem;
    padding: 1rem;
    list-style-type: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display: flex;
    align-items: center;
}
ul.list li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.list li:hover {
    background: #29bcff;
}
ul.list li:hover a {
    color: white;
}



footer {
    background: black;
}
footer a {
    color: white;
}
footer li {
    line-height: 4rem;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    ul.list li {
        width: 100%;
    }
    header.top h1 {
        text-align: center;
        padding-left: 0;
    }
}