body {
    margin: 0px;
    background-color: #ffffff;
    color: #333333;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.site-topbar {
    background-color: #333333;
    color: #b0b0b0;
    height: 40px;
    font-size: 12px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1226px;
}
.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
}
.site-topbar a {
    color: #b0b0b0;
    text-decoration: none;
}
.site-topbar a:hover {
    color: #ffffff;
}
.site-topbar .sep {
    color: #424242;
    margin: 0px 0.5em;
}
.site-topbar .topbar-cart {
    margin-left: 15px;
    width: 120px;
    float: right;
    height: 40px;
}
.site-topbar .cart-mini {
    display: block;
    background-color: #424242;
    color: #b0b0b0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}